body {
    margin: 0;
    background: linear-gradient(-29deg, #ee7752, #e73c7e, #FF66B2, #23d5ab);
    background-size: 300% 700%;
    animation: gradient 100s ease infinite;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  
  }
  
  li {
    display: inline-block;
    margin-left: 210px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  
  li a:hover {
    background-color: #111;
  }

  .pasta{ 
    text-decoration: none;
    font-size: 200px;
    text-align: center;
    color: black;
}

footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}

header{
    left: 0;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

.homep{
  font-size: 25px;
  text-align: center;
}

.img1{
  border: 5px solid;
  position: fixed;
  right: 660px;
  bottom: 0;
  top: 150px;
  width: 30%;
}

table,th,td{border: 3px solid black;
  border-collapse: collapse;
  }
  
  
.table1{
  table-layout: auto;
  width: 1000px;
  height: 350px;
  margin-left: 450px;
  margin-top: 100px;
}
  
th{
  background-color:seashell;
}
  
  
.ett{
      
  background-color: #23d5ab; 
} 
  
.två{ 
  background-color: #e73c7e; 
    color: white;
}
  
.tre{ 
  background-color: #23d5ab;
  color: black;
} 
  
.fyra{ 
    background-color: #e73c7e;
    color:white
}
  
.M{ 
  text-align: center;
}
  
.R{ 
    text-align: right;
  }

.lista{
  text-align: center;
}
  

.headerimg{
  position: fixed;
  top: 0;
  left: 0;
  height: 59px;
  width: 159px; 
  border: 3px solid black;
}