body {
    margin: 0;
    background: linear-gradient(-29deg, #ee7752, #e73c7e, #FF66B2, #23d5ab);
    background-size: 300% 700%;
    animation: gradient 100s ease infinite;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
  }
  
  li {
    display: inline-block;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  li a:hover {
    background-color: #111;
  }

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

  .pasta{ 
    text-decoration: none;
    font-size: 200px;
    text-align: center;
    color: black;
}

footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}

header{
    left: 0;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

.homep{
  font-size: 25px;
  text-align: center;
}

.img1{
  border: 5px solid;
  position: static;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.img2{
  border: 5px solid;
  position: static;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1500px;
  box-shadow: #333;
}

table,th,td{border: 3px solid black;
  border-collapse: collapse;
  }
  
.table1{
  table-layout: auto;
  width: 50%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
  
th{
  background-color:seashell;
}
  

tr:nth-child(odd) {
background-color: #FF66B2;
}

tr:nth-child(even){
  background-color: #23d5ab;
}

td:nth-child(even) {
  text-align: right;
}

.headerimg{
  position: fixed;
  top: 0;
  left: 0;
  height: 59px;
  width: 159px; 
  border: 3px solid black;
}

/* Container för grid */
#grid-layout {
  display: grid;
  grid-gap: 10px;
}

/* Olika areas */
.cell {
  padding: 0px;
}
.head {
  grid-area: header;
  background: #333;
}
.main {
  grid-area: main;
}
.foot {
  grid-area: footer;
  background: #ebebeb;
}
